:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #ff0070;
  --title-text-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --shadow-header-color: #ff0070;
  --shadow-footer-color: #ff0070;
  --title-decor-color: #ff0070;
  --outline-hover-color: rgba(255, 0, 112, 0.4);
}
