:root.theme-dark {
  --bg-color: #000028;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --title-shadow-color: #ff0070;
  --decor-title-bg: #ff0070;
  --menu-button-hover: rgba(255, 0, 112, 0.4);
  --page-bg-image: url("../images/cover-image-dark.png");
}

.theme-dark .rec {
  display: inline-flex;
}