*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}