:root.theme-light {
  --bg-color: #fff1f7;
  --accent-color: #353430;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --title-shadow-color: #ff8dcb;
  --decor-title-bg: #ff8dcb;
  --menu-button-hover: rgba(50, 49, 45, 0.4);
  --page-bg-image: url("../images/cover-image-light.png");
}

.theme-light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --bg-color: #fff1f7;
    --accent-color: #353430;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --title-shadow-color: #ff8dcb;
    --decor-title-bg: #ff8dcb;
    --menu-button-hover: rgba(50, 49, 45, 0.4);
    --page-bg-image: url("../images/cover-image-light.png");
  }

  .theme-auto .rec {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root.theme-auto {
    --bg-color: #000028;
    --accent-color: #ff0070;
    --text-color: #f1b2ce;
    --title-color: #db00ff;
    --title-shadow-color: #ff0070;
    --decor-title-bg: #ff0070;
    --menu-button-hover: rgba(255, 0, 112, 0.4);
    --page-bg-image: url("../images/cover-image-dark.png");
  }

  .theme-auto .rec {
    display: inline-flex;
  }
}