body {
  margin: 0;
  padding: 0;
}

.page {
  min-inline-size: 375px;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--font-family, monospace);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border: 1px solid var(--accent-color);
}

.decorated-zone::before {
  inset-block-start: var(--padding);
  inset-inline-end: var(--padding);
  border-inline-start: none;
  border-block-end: none;
}

.decorated-zone::after {
  inset-block-end: var(--padding);
  inset-inline-start: var(--padding);
  border-inline-end: none;
  border-block-start: none;
}

.header {
  position: relative;
  min-block-size: 100vh;
  padding: var(--padding);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  row-gap: 40px;
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block-start: 65px;
  margin: 0;
  padding-inline-start: 0;
  list-style: none;
}

.header__theme-menu-button {
  font-size: var(--font-size);
  text-transform: lowercase;
  line-height: var(--font-size);
  color: var(--accent-color);
  background-color: transparent;
  padding: 1.5px 13px;
  border: none;
  text-align: right;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--outline-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.rec-label {
  position: absolute;
  inset-block-start: var(--padding);
  inset-inline-end: var(--padding);
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--accent-color);
  font-size: var(--font-size);
  line-height: 25px;
  text-transform: uppercase;
}

.rec-label::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__title {
  margin: 0;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  padding-block: 65px;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--shadow-header-color);
}

.header__text {
  margin: 0;
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 1.3em;
  color: var(--title-text-color);
  justify-self: end;
  max-inline-size: 355px;
}

.title-decor {
  display: block;
  display: inline-block;
  padding-inline: 10px;
  background-color: var(--title-decor-color);
}

.main {
  margin: 40px var(--padding);
  font-size: var(--font-size);
  line-height: var(--line-height);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section__title {
  font-size: inherit;
  font-weight: 700;
  color: var(--accent-color);
  margin: 0 0 20px;
}

.section__article {
  display: flex;
  flex-direction: column;
}

.section__article-title {
  font-size: var(--font-size);
  font-weight: 700;
  line-height: var(--line-height);
  color: var(--title-text-color);
  margin: 0 0 10px;
}

.section__article-text {
  color: var(--text-color);
  margin: 0 0 20px;
}

.section__article:last-child .section__article-text {
  margin-bottom: 0;
}

.section__article-text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--title-decor-color);
}

.section__article-text-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.section__gallery {
  display: flex;
  flex-direction: column;
}

.section__gallery-container-images {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  gap: 10px;
  margin-top: 10px;
}

.section__gallery-image {
  inline-size: 100%;
  block-size: auto;
}

.footer {
  min-block-size: 100vh;
  padding: var(--padding);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  margin: 0;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--shadow-footer-color);
}

@media (width >= 768px) {
  .header {
    padding: 20px 20px 20px 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content 1fr;
    row-gap: 0;
  }

  .header__theme-menu {
    grid-column: 2;
  }

  .header__theme-menu-list {
    padding-block-start: 182px;
  }

  .header__title {
    grid-column: 1 / -1;
    padding-block-start: 173px;
    padding-block-end: 162px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    grid-column: 2;
    justify-self: start;
    margin-bottom: 163px;
    max-inline-size: 364px;
  }

  .main {
    margin: 60px 20px;
    gap: 80px;
  }

  .section__why,
  .section__how {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 236px 1fr;
  }

  .section__why .section__title,
  .section__how .section__title {
    margin: 0;
    inline-size: 236px;
  }

  .section__why .section__article,
  .section__how .section__article {
    grid-column: 2;
  }

  .section__what {
    display: grid;
    row-gap: 20px;
  }

  .section__gallery-container-images {
    grid-template-columns: repeat(3, 230px);
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
    margin-top: 20px;
  }

  .section__gallery-image {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  .section__gallery-image-sunset {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .section__gallery-image-ice {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .section__gallery-image-tape {
    grid-column: 1;
    grid-row: 2 / -1;
  }

  .section__gallery-image-books {
    grid-column: 2;
    grid-row: 2;
  }

  .section__gallery-image-street {
    grid-column: 2 / -1;
    grid-row: 3;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
    padding-block-start: 0;
    padding-inline-end: 377px;
  }

  .header__title {
    padding-block-start: 273px;
    padding-block-end: 114px;
  }

  .header__text {
    margin-bottom: 114px;
    max-inline-size: 491px;
  }

  .section__why,
  .section__how {
    grid-template-columns: 315px 1fr;
  }

  .section__why .section__title,
  .section__how .section__title {
    inline-size: 315px;
  }

  .section__what {
    display: grid;
    grid-template-columns: repeat(3, 315px);
    grid-auto-rows: min-content;
    column-gap: 20px;
    row-gap: 20px;
  }

  .section__what .section__title {
    grid-column: 1 / -1;
    margin-bottom: 0;
  }

  .section__gallery-container-images {
    grid-template-columns: repeat(3, 315px);
    grid-template-rows: 260px 315px 433px;
  }
}