body {
  min-height: 100vh;
  background-color: var(--bg-color);
  background-image: var(--page-bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--text-color);
  font-family: var(--font-main);
  font-size: 18px;
  line-height: 1.3;
}

.page {
  min-inline-size: 320px;
  min-block-size: 100vh;
}

.decorated-zone {
  position: relative;
  padding: var(--header-padding);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: var(--corner-size);
  block-size: var(--corner-size);
}

.decorated-zone::before {
  inset-block-start: var(--header-padding);
  inset-inline-end: var(--header-padding);
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.decorated-zone::after {
  inset-block-end: var(--header-padding);
  inset-inline-start: var(--header-padding);
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

.rec {
  position: absolute;
  inset-block-start: var(--header-padding);
  inset-inline-end: calc(var(--header-padding) + var(--corner-size) + 8px);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}

.rec::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px var(--accent-color);
}

.header {
  min-block-size: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  row-gap: 30px;
}

.header__theme-menu {
  justify-self: end;
  margin-block-start: 40px
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  inline-size: 70px;
  padding-block: 2px;
  border: 1px solid transparent;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  color: var(--accent-color);
  cursor: pointer;
}

.header__theme-menu-button_active {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  color: var(--bg-color);
  pointer-events: none;
}

.header__theme-menu-button:disabled {
  cursor: default;
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  border-color: var(--menu-button-hover);
  background-color: var(--menu-button-hover);
}

.header__theme-menu-button:focus-visible {
  outline: 1px solid var(--accent-color);
  outline-offset: 2px;
}

.title {
  align-self: center;
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--title-shadow-color);
}

.title_description {
  align-self: end;
  max-inline-size: 355px;
  margin-block-start: 20px;
  padding: 10px;
  background-color: var(--decor-title-bg);
  color: var(--bg-color);
  font-weight: 700;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-block: 40px 60px;
}

.section {
  padding-inline: var(--content-padding);
}

.section_title {
  color: var(--accent-color);
  font-weight: 700;
}

.article {
  display: grid;
  gap: 20px;
  margin-block-start: 20px;
}

.article_title {
  display: inline-block;
  margin-block-end: 10px;
  padding-inline: 4px;
  background-color: var(--decor-title-bg);
  color: var(--bg-color);
  font-weight: 700;
}

.article_subtitle {
  margin-block-end: 10px;
  padding-inline: 4px;
  background-color: var(--decor-title-bg);
  color: var(--bg-color);
  font-weight: 700;
}

.article_text {
  color: var(--text-color);
}

.article_text + .article_text {
  margin-block-start: 10px;
}

.articles_list {
  margin-block-start: 20px;
}

.article_text_link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--title-shadow-color);
  border-block-end: 1px solid transparent;
}

.article_text_link:hover {
  border-block-end-color: currentColor;
}

.article_text_link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}

.images {
  padding-inline: var(--content-padding);
}

.gallery {
  display: grid;
  gap: 10px;
  margin-block-start: 20px;
}

.image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  min-block-size: 100vh;
  display: flex;
  align-items: center;
}

.footer_title {
  margin-inline: var(--content-padding);
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--title-shadow-color);
}

@media (width >= 768px) {
  .header {
    row-gap: 60px;
    padding-inline: var(--content-padding);
  }

  .decorated-zone::before {
    inset-inline-end: var(--content-padding);
  }

  .decorated-zone::after {
    inset-inline-start: var(--content-padding);
  }

  .rec {
    inset-inline-end: calc(var(--content-padding) + var(--corner-size) + 8px);
  }
  .header__theme-menu {
    justify-self: center;
    margin-block-start: 0;
  }
  .header__theme-menu-list {
    flex-direction: row;
  }

  .title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .title_description {
    justify-self: end;
    max-inline-size: 364px;
  }

  .why_focus_is_so_hard,
  .what_reduces_concentration_of_attention,
  .how_to_concentrate_better_than_a_goldfish {
    display: grid;
    grid-template-columns: minmax(236px, 1fr) 2fr;
    column-gap: 20px;
  }

  .why_focus_is_so_hard .section_title,
  .what_reduces_concentration_of_attention .section_title,
  .how_to_concentrate_better_than_a_goldfish .section_title {
    max-inline-size: 236px;
  }

  .articles_list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 20px;
  }

  .gallery {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(192px, 1fr));
  }

  .image_1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .image_2 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .image_3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .image_4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

@media (width >= 1024px) {
  .header {
    grid-template-columns: minmax(300px, 1fr) minmax(400px, 1fr);
    grid-template-rows: min-content 1fr;
    align-items: center;
  }

  .header__theme-menu {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
  }

  .title {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .title_description {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: start;
    margin-block-start: 0;
  }

  .why_focus_is_so_hard,
  .what_reduces_concentration_of_attention,
  .how_to_concentrate_better_than_a_goldfish {
    column-gap: 30px;
  }

  .articles_list {
    column-gap: 30px;
  }

  .gallery {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(213px, 1fr));
    gap: 20px;
  }

  .image_1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .image_2 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .image_3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .image_4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}