:root {
  --bg-color: #000028;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --title-shadow-color: #ff0070;
  --decor-title-bg: #ff0070;
  --menu-button-hover: rgba(255, 0, 112, 0.4);
  --page-bg-image: url("../images/cover-image-dark.png");
  --font-main: "IBM Plex Mono", monospace;
  --header-padding: 20px;
  --content-padding: 20px;
  --corner-size: 25px;
}

@media (width >= 768px) {
  :root {
    --corner-size: 30px;
  }
}

@media (width >= 1024px) {
  :root {
    --corner-size: 35px;
  }
}