:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --padding: 10px;
  --font-family: "IBM Plex Mono";
  --accent-color: #ff0070;
  --title-text-color: #000028;
  --font-size: 18px;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --shadow-header-color: #ff0070;
  --shadow-footer-color: #ff0070;
  --title-decor-color: #ff0070;
  --outline-hover-color: rgba(255, 0, 112, 0.4);
  --gap-page: 40px;
  --gap-main: 50px;
  --gap-section: 20px;
  --line-height: 23.4px;
}
